<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ .Title }}</title>
    <meta name="description" content="{{ .Description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <meta name="autor" content="{{ .Site.Params.contact.name.first}} {{ .Site.Params.contact.name.last}}">
    <meta name="keywords" content="{{delimit .Site.Params.keywords ", " }}">
    {{ block "meta-social" . }}
    {{ partial "head/meta-twitter.html" . }}
    {{ partial "head/meta-facebook.html" . }}
    {{- end -}}
    
    {{ block "meta-favicon" . }}
    {{ partial "head/meta-favicon" . }}
    {{- end -}}
    
    {{ block "head" . }}
    {{- end -}}
</head>
<body>
    {{ block "main" . }}{{ end }}
    {{ partial "footer/footer.html" . }}
    {{ partial "scripts.html" }}
</body>
</html>