<footer class="g g--xs-c3 g--s-c6 g--m-c12">
	<!-- grid--xs-1-4 grid--sm-2-2 grid--md-4-1 -->
	<a href="#top" class="scroll-top g__i--xs-sp3 g__i--s-sp6 g__i--m-sp3 g__i--l-sp6">scroll up</a>
	<div class="g__i--xs-sp3 g__i--l-sp2">
		<h4>Legal</h4>
		<ul>
			<li>© 2018 Joachim Fröstl</li>
			<noscript>
				<li><a href="mailto:{{- .Site.Params.contact.gmail -}}">{{- .Site.Params.contact.gmail -}}</a></li>
			</noscript>
			<li class="h-hide"><a class="js-cipher-mail js-cipher-mailto" href="mailto:{{- .Site.Params.contact.email -}}">{{- .Site.Params.contact.email -}}</a></li>
			<li class="h-hide"><a class="js-cipher-phone js-cipher-tel" href="tel:{{- .Site.Params.contact.phone -}}">{{- .Site.Params.contact.phone -}}</a></li>
			{{ range .Site.Menus.legal }}
			<li>
				<a class="" href="{{ .URL }}" title="{{ .Title }}">
					{{- .Name -}}
				</a>
			</li>
			{{ end }}
		</ul>
	</div>
	<nav class="g__i--xs-sp3 g__i--l-sp2">
		<h4>Social</h4>
		<ul>
			{{ range sort .Site.Params.social "weight" }}
			<li>
				<a href="{{ .url }}" title="{{ .name }}">
					{{- .name -}}
				</a>
			</li>
			{{ end }}
		</ul>
	</nav>
	<nav class="g__i--xs-sp3 g__i--l-sp2">
		<h4>Jump to</h4>
		<ul>
			{{ range .Site.Menus.footer }}
			<li>
				<a class="" href="{{ .URL }}" title="{{ .Title }}">
					{{- .Name -}}
				</a>
			</li>
			{{ end }}
		</ul>
	</nav>
</footer>