<section class="cta-section content-area">
    <div class="cta">
        <img class="cta__image" src="/img/rocket.svg" alt="A spaceship launching from the ground.">
        <h3 class="cta__head">Open to Opportunities</h3>
        <p class="cta__body"><!--I’m available from the <em>{{ .Site.Params.availability }}</em>. -->Let’s talk about how I can contribute to your team and product!</p>
        <a class="js-cipher-mailto cta__button button button--primary button--primary--on-accent h-hide" href="mailto:{{ .Site.Params.contact.email }}">Work with me</a>
        <noscript><a href="mailto:{{ .Site.Params.contact.gmail }}" class="cta__button button button--primary button--primary--on-accent">Work with me</a></noscript>
    </div>
</section>