{{ define "main" }}
<main>
    <header class="intro">
        {{ partial "header/nav.html" . }}
        <div class="intro__content content-area">
            <div class="image__container">
                <img class="intro__image" src="/img/profile2.png" alt="bla">
            </div>
            <div class="intro__text">
                <h1>{{ .Title }}</h1>
                <p class="intro__description">{{ .Description }}</p>
                <a class="js-cipher-mailto intro__button h-hide button button--primary button--primary--on-gray" href="mailto:{{ .Site.Params.contact.email }}">Work with me</a>
                <noscript><a class="button intro__button button--primary button--primary--on-gray" href="mailto:{{ .Site.Params.contact.gmail }}">Work with me</a></noscript>
            </div>
        </div>
    </header>
    {{ .Content }}
</main>
{{ end }}