.device-preview {
    box-shadow: 
        0px 10px 20px rgba(0, 0, 10, 0.3), 
        0px -10px 20px rgba(0, 0, 10, 0.3) inset;
    border-radius: 80px;
}
.device-preview__image {
    width: 100%;
}
.device-preview__image--iphone-x {
    display: block;
    mask-image: url(/img/device-mask-iphone-x.svg);
    mask-size: contain;
    mask-repeat: no-repeat;
    -webkit-mask-image: url(/img/device-mask-iphone-x.svg);
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
}
.device-preview__image--pixel-2-xl {
    display: block;
    mask-image: url(/img/device-mask-pixel-2-xl.svg);
    mask-size: contain;
    mask-repeat: no-repeat;
    -webkit-mask-image: url(/img/device-mask-pixel-2-xl.svg);
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
}