.figure-gallery {
    max-width: $content-width;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
    margin-bottom: 3em;
    padding-left: 16px;
    padding-right: 16px;
}
.gallery-image-container {
    background-color: #f8f7f7;
    padding-top: 1em;
    padding-bottom: 1em;
}
.gallery-caption {
    margin-top: 1.5em;
}
.gallery-caption__paragraph {
    font-style: italic;
    margin: 0;
}
.gallery-image {
    width: 100%;
    max-width: 260px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    margin-bottom: 2em;
}
@media all and (min-width: $break-point-s) {
    .gallery-images {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        @include grid-column-gap;
        @include grid-row-gap(2em);
    }
    .gallery-image {
        margin-top: 0;
        margin-bottom: 0;
    }
}
@media all and (min-width: $break-point-m) {
    .gallery-images {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;
        @include grid-column-gap;
    }
    .gallery-image {
        grid-column-end: span 3;
    }
    .gallery-caption {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        @include grid-column-gap;
    }
    .gallery-caption__paragraph {
        grid-column-end: span 2;
        grid-column-start: 1;
        &:last-child {
            margin-bottom: 0;
        }
    }
    .figure-gallery--c-start-2 {
        .gallery-caption__paragraph {
            grid-column-start: 2;
        }
    }
}