.navigation {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    display: flex;   
    justify-content: space-between;
    align-items: center;
}

.navigation__list {
    justify-content: space-between;
    display: flex;
    flex-grow: 0.4;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
@media all and (min-width: $break-point-m) {
    .navigation__list {
        flex-grow: 0.2;
    }
}
.navigation__link {
    display: block;
    padding: 10px 5px;
    text-decoration: none;
}