.navigation {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    display: flex;   
    justify-content: space-between;
    align-items: center;
}

.navigation__list {
    justify-content: space-between;
    display: flex;
    flex-grow: 0.4;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.navigation__link {
    display: block;
    border-top: 4px solid white;
    border-bottom: 4px solid white;
    padding-top: 0;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 0;
    text-decoration: none;
    transition-property: background-color;
    transition-duration: 0.5s;
    transition-timing-function: ease-in;
    &:hover {
        transition-duration: 0.05s;
        transition-timing-function: ease-out;
        color: $color-black;
        background-color: $color-accent;
    }
}
.navigation__link--active {
    background-color: $color-accent;
}

.navigation__home {
    font-family: $font-sans;
    font-weight: 700;
    text-decoration: none;
    text-transform: lowercase;
    border-top: 4px solid white;
    border-bottom: 4px solid white;
    padding-top: 0;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 0;
    transition-property: background-color;
    transition-duration: 0.5s;
    transition-timing-function: ease-in;
    &:hover {
        transition-duration: 0.05s;
        transition-timing-function: ease-out;
        color: $color-black;
        background-color: $color-accent;
    }
}

@media all and (min-width: $break-point-m) {
    .navigation__list {
        flex-grow: 0.2;
    }
}

@media not all and (hover: hover) {
    .navigation__link {
        transition: none;
        &:hover {
            background-color: white;
        }
    }
    .navigation__link--active { 
        &:hover {
            background-color: $color-accent;
        }
    }
}
