.case-summary__graphic {
    min-height: 50px;
    background-color: $color-gray-light;
}
.summary__list-element--work {
    margin-top: 2em;
}

@media screen and (min-width: $break-point-m) {
    .case-summary {
        display: grid;
        @include grid-column-gap;
        grid-template-rows: auto;
    }
    .case-summary--left {
        grid-template-columns: [description-start] 1fr 1fr [graphic-start] 1fr 1fr [description-end] 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr [graphic-end];
    }
    .case-summary--right {
        grid-template-columns: [graphic-start] 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr [description-start] 1fr 1fr [graphic-end] 1fr 1fr [description-end];
    }
    .case-summary__graphic {
        grid-area: graphic;
    }
    .case-summary__description {
        z-index: 1;
        grid-area: description;
    }
}