.tag-link {
    display: inline;
    text-decoration: none;
    font-style: italic;
    color: $color-gray-medium;
    border: 1px solid $color-gray-medium-light;
    text-transform: capitalize;
    padding: 0px 8px 1px;
    border-radius: 20px;
    &:hover {
        color: $color-accent-dark;
        border-color: $color-accent-dark;
    }
}

@media not all and (hover: hover) { 
    .tag-link {
        &:hover {
            color: $color-gray-medium;
            border-color: $color-gray-medium-light;
        }
    }
}