$grid-gap: 40px;
$grid-columns: 12;
$grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

$break-point-s: 360px;
$break-point-m: 640px;
$break-point-l: 800px;
$max-width: 1244px;

$color-gray-light: #F5F5F8;
$color-teal: #BAFFEA;