$grid-gap: 40px;
$grid-columns: 12;
$grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

$break-point-s: 360px;
$break-point-m: 960px;
$break-point-l: 1200px;
$max-width: 1244px;

$color-gray-light: #F8F7F7;
$color-gray-medium-light: #CDCDD2;
$color-gray-medium: #A0A0A5;
$color-teal: #5AFFAC;
$color-black: #494952;