$grid-gap: 40px;
$grid-columns: 12;
$grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

$break-point-s: 360px;
$break-point-m: 720px;
$break-point-l: 960px;
$max-width: 1244px;

$color-gray-light: #F7F7F9;
$color-gray-medium-light: #CDCDD2;
$color-gray-medium: #A0A0A5;
$color-teal: #BAFFEA;
$color-black: #414144;