// Grid
$grid-gap: 40px;

// Breakpoints
$break-point-s: 360px;
$break-point-m: 960px;
$break-point-l: 1200px;

// Width
$content-width: 1208px;

// Colors
$color-gray-light: #F8F7F7;
$color-gray-medium-light: #CDCDD2;
$color-gray-medium: #A0A0A5;
$color-black: #494952;
$color-accent: #5AFFAC;
$color-accent-dark: #5AFFAC;