.intro {
    margin-top: 0em;
}
.intro__image {
    width: 100%;
    max-width: 500px;
    margin-top: 0em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.intro__headline {
    margin-bottom: 0;
}
.intro__headline--break {
    display: none;
}
.intro__description {
    font-size: 1.2em;
    line-height: 1.4em;
}
.intro__cta {
    margin-top: 2.4em;
    margin-bottom: 0;
}

@media all and (min-width: $break-point-m) {
    .intro__headline--break {
        display: initial;
    }
    .intro {
        margin-top: 1em;
        display: grid;
        grid-template-columns: 1fr 1fr;
        @include grid-column-gap;
        grid-template-areas: "intro-image intro-text";
    }
    .intro__headline {
        font-size: 2.4em;
        margin-top: 0;
    }
    .intro__text {
        grid-area: intro-text;
        text-align: left;
        align-self: center;
    }
    .image__container {
        padding-top: 0;
        padding-bottom: 0;
        grid-area: intro-image;
    }
    .intro__image {
        max-width: none;
    }
    .intro__content {
        margin-top: 2.4em;
        margin-bottom: 0;
        padding-bottom: 0;
        padding-top: 0;
    }
}

@media all and (min-width: $break-point-l) {
    .intro__headline {
        font-size: 2.8em;
    }
}