.post {
    margin-top: 4em;
}
.post-info {
    margin-top: 1em;
    margin-bottom: 1em;
}
.post-body {
    p {
        &:first-child {
            margin-top: 0;
        }
    }
}
@media all and (min-width: $break-point-m) {
    .post {
        margin-top: 6em;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
            ". headline headline headline headline ."
            "info body body body body end";
        @include grid-column-gap;
    }
    .post-header {
        margin-top: 0;
        grid-area: headline;
    }
    .post-info {
        margin-top: 0;
        grid-area: info;
    }
    .post-body {
        grid-area: body;
    }
}