.summary__list {
    padding: 0;
    margin-top: 2.8em;
}
.summary-more {
    margin-top: 2em;
}
.summary__list-element {
    list-style-type: none;
}

@media screen and (min-width: $break-point-m){
    .summary {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        @include grid-column-gap;
        grid-template-areas: 
            "intro intro ."
            "list list list"
            ". more ."
    }

    .summary__intro {
        grid-area: intro;
    }

    .summary__more {
        margin-top: 1.8em;
        grid-area: more;
        justify-self: center;
    }

    .summary__list {
        margin-top: 3.2em;
        grid-area: list;
    }
}
