.intro {
    background-color: $color-gray-light;
}
.intro__text {
    background-color: white;
    padding: 2em 1em;
}
.intro__image {
    width: 100%;
    display: block;
}
.intro__description {
    font-size: 1.4em;
    line-height: 1.4em;
}
.intro__button {
    margin-top: 1.6em;
}

@media screen and (min-width: $break-point-m) {
    .intro__content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        @include grid-column-gap;
        grid-template-areas: "intro-text intro-image";
    }
    .intro__text {
        grid-area: intro-text;
        background-color: transparent;
        margin: initial;
        padding: initial;
    }
    .image__container {
        grid-area: intro-image;
        justify-self: stretch;
        align-self: end;
    }
    .intro__content {
        margin-top: 2.4em;
        margin-bottom: 0;
        padding-bottom: 0;
        padding-top: 0;
    }
}