.approach__intro {
    margin-bottom: 3.4em;
}
.approach__intro-headline {
    margin-top: 0;
}
.approach__intro-paragraph {
    margin-bottom: 0;
}
.approach__step-headline {
    margin-top: 0;
    margin-bottom: 0.4em;
}
.approach__step-paragraph {
    margin-top: 0;
    margin-bottom: 0;
}
.approach__step-text {
    grid-area: txt;
}
.approach__step-image {
    grid-area: img;
    align-self: center;
    justify-self: center;
}
.approach__steps {
    margin: 0;
    padding: 0;
}
.approach__step {
    display: grid;
    column-gap: $grid-gap;
    grid-column-gap: $grid-gap;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
        "img txt txt txt";
    margin-bottom: 2.4em;
    &:last-child {
        margin-bottom: 0;
    }
}
.approach__step--reflect {
    grid-template-areas: 
        "txt txt txt img";
}

@media screen and (min-width: $break-point-m) {
    .approach {
        display: grid;
        @include grid-column-gap;
        @include grid-row-gap(3em);
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 
            "intro intro ." 
            "steps steps steps";
    }
    .approach__intro {
        grid-area: intro;
        margin-bottom: 0;
    }
    .approach__step {
        display: block;
        margin-bottom: 0;
    }
    .approach__steps {
        grid-area: steps;
        display: grid;
        @include grid-column-gap;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 
            "observe reflect make";
    }
    .approach__step--observe {
        grid-area: observe;
    }
    .approach__step--reflect {
        grid-area: reflect;
    }
    .approach__step--make {
        grid-area: make;
    }
}
@media screen and (min-width: $break-point-l) {
    .approach {
        display: grid;
        @include grid-column-gap;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: 
            "intro intro intro intro intro intro intro intro . . . ."
            ". . . steps steps steps steps steps steps steps steps steps";
    }
    .approach__intro {
        grid-area: intro;
    }
    .approach__steps {
        grid-area: steps;
        grid-template-columns: 1fr 1fr 1fr;
        @include grid-column-gap;
        grid-template-rows: auto;
        grid-template-areas:
            ". . make"
            "observe . make"
            "observe reflect make"
            "observe reflect ."
            ". reflect ."
    }
}
