.intro {
    margin-top: 0;
}
.intro__text {
    background-color: white;
}
.intro__image {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    display: block;
}
.intro__description {
    font-size: 1.3em;
    line-height: 1.4em;
}
.intro__button {
    margin-top: 1.6em;
}


@media all and (min-width: $break-point-m) {
    .intro__content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        @include grid-column-gap;
        grid-template-areas: "intro-image intro-text";
    }
    .intro__headline {
        margin-top: 0;
    }
    .intro__text {
        grid-area: intro-text;
        align-self: center;
    }
    .image__container {
        grid-area: intro-image;
    }
    .intro__image {
        max-width: none;
    }
    .intro__content {
        margin-top: 2.4em;
        margin-bottom: 0;
        padding-bottom: 0;
        padding-top: 0;
    }
}