.summary__list {
    margin: 0;
    padding: 0;
}
.summary__more {
    margin-top: 2.4em;
}
.summary__list-element {
    list-style-type: none;
}

.summary__intro {
    margin-bottom: 3.4em;
    p {
        margin-bottom: 0;
    }
}

@media screen and (min-width: $break-point-m){
    .summary {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        @include grid-column-gap;
        grid-template-areas: 
            "intro intro ."
            "list list list"
            ". more ."
    }

    .summary__intro {
        grid-area: intro;
    }

    .summary__more {
        grid-area: more;
        justify-self: center;
    }

    .summary__list {
        grid-area: list;
    }
}
