.cta-section {
    padding-left: 0;
    padding-right: 0;
}

.cta {
    background-color: $color-teal;
    text-align: center;
    padding-top: 3em;
    padding-bottom: 3em;
    padding-left: 1.5em;
    padding-right: 1.5em;
}

.cta__head {
    margin-top: 0;
    margin-bottom: 0.5em;
}
.cta__body {
    margin-top: 0.8em;
}
.cta__button {
    display: inline-block;
    margin-top: 0.8em;
}
@media screen and (min-width: $break-point-m) {
    .cta {
        grid-area: cta;
    }
    .cta-section {
        padding-left: 16px;
        padding-right: 16px;
        display: grid;
        @include grid-column-gap;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: 
            ". cta cta cta cta .";
    }
}

@media screen and (min-width: $break-point-l) {
    .cta-section {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: 
            ". . . cta cta cta cta cta cta . . .";
    }
}