@import "constants";
@import "grid";
@import "h-sections";
@import "h-grid";
@import "section-intro";
@import "section-approach";
@import "section-summary";
@import "section-cta";
@import "c-summary-case";
@import "c-summary-post";
@import "c-navigation";
@import "c-footer";

.h-hide {
    display: none;
}

body {
    margin: 0;
    padding: 0;
}