{{ $class := .Get "class" }}
{{ $caption := .Get "caption" }}
{{ $match := .Get "match"}}
<figure class="{{ $class }}">
    {{ $res := $.Page.Resources.GetMatch $match }}
    {{ $retina := $.Page.Resources.GetMatch $res.Params.retina }}
    <img 
        src="{{ $res.RelPermalink }}"
        srcset="{{ $res.RelPermalink }} 1x, {{ $retina.RelPermalink }} 2x"
        sizes="(min-width: 960px) 0.6vw, (max-width: 1260px) 792px"
        alt="{{ $res.Title }}">
    <figcaption>
        <p>
            {{ $caption }}
        </p>
    </figcaption>
</figure>