{{ $section := .Get "section" }}
{{ $count := int (.Get "count") }}
{{ $pages := where .Site.RegularPages "Section" $section }}
{{- if le 0 (len $pages) -}}
<section class="g g--xs-c3 g--m-c12">
    <div class="g__i g__i--xs-sp3 g__i--m-sp8-st1">
        {{ .Inner }}
    </div>
    {{ range first $count $pages.ByDate.Reverse }}
        {{ .Render "summary" }}
    {{ end }}
    {{ if lt $count (len $pages) }}
    <a class="g__i g__i--xs-sp3 g__i--m-sp12 g__i--j-center" href="/{{ $section }}">
        {{- if isset .Params "moreLabel" -}} 
        {{- .Get "moreLabel" -}}
        {{- else -}} 
        Show more
        {{- end -}}
    </a>
    {{ end }}
</section>
{{- end -}}